@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-bold-webfont.eot');
    src: url('fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTStdExtraBold';
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot');
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arialroundedmtstd-extrabold-webfont.woff') format('woff'),
         url('fonts/arialroundedmtstd-extrabold-webfont.ttf') format('truetype'),
         url('fonts/arialroundedmtstd-extrabold-webfont.svg#ArialRoundedMTStdExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }


.shell {
	width: 898px; 
	height: 323px;
	margin: 0 auto;
	position: relative;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2 { font-size: 18px; color: #fa5400; border-bottom: 1px solid #c5c4be; margin-bottom: 8px; line-height: 26px; }

#wrapper { background: url('images/main-bg.png') repeat center 0; }

/* Header */
#header { width: 100%; position: relative; z-index: 50; }

h1#logo { float: left; display: inline; padding: 3px 0 10px 27px; }
h1#logo a { width: 214px; height: 69px; background: url('images/logo.png') no-repeat 0 0; display: block; }

/* Slider */
#slider { background: #4d4d4d url('images/slider-bg.png') repeat-x center 0; padding: 6px 0; border-bottom: 1px solid #4c4c4c; margin-bottom: 62px; width: 100%; position: relative; z-index: 10; }
#slider .shell { position: relative; z-index: 10; }
#slider .jcarousel-clip ,
#slider ul.slider-items,
#slider ul.slider-items li { width: 898px;  overflow: hidden; position: relative; }
#slider ul.slider-items li { float: left; display: inline; text-align: right; }
#slider .slide-entry { position: absolute; top: 52px; right: 71px; color: #ffffff; height: 183px; padding-bottom: 60px; }
#slider .slide-entry1 { position: absolute; top: 52px; left: 71px; color: #fa5400; height: 183px; padding-bottom: 60px; }
#slider h2, #slider h3, #slider h4, #slider h5, #slider h6 { font-family: 'MyriadProBold', arial, sans-serif; font-weight: normal; }
#slider h2 span, #slider h3 span, #slider h4 span { color: #ffffff; }
#slider h2 { font-size: 60px; line-height: 64px; margin-bottom: -9px; position: relative; width: 100%; padding-top: 3px; border: none; }
#slider h2 span { font-size: 67px; }
#slider h3 { font-size: 50px; line-height: 54px; margin-bottom: -9px; width: 100%; position: relative; }
#slider h3 .small { font-size: 40px; }
#slider h4 { font-size: 44px; line-height: 48px; padding: 3px 4px 2px 0; }
#slider h4.short { margin-bottom: -3px; position: relative; width: 100%; padding: 0; }
#slider h4 .small { font-size: 32px; color: #fa5400; }
#slider h5 { font-size: 18px; line-height: 28px; padding-top: 8px; letter-spacing: -1px; word-spacing: 2px; }
#slider h6 { font-size: 17px; line-height: 21px; letter-spacing: -1px; word-spacing: 3px; padding-right: 2px; }
#slider p { font-size: 15px; line-height: 24px; font-family: 'MyriadPro-Regular'; word-spacing: -1px; }
#slider strong { font-weight: normal; font-family: 'MyriadProBold', arial, sans-serif; }
#slider .button { position: absolute; bottom: 0; right: 24px; background: url('images/button-left.png') no-repeat 0 0; float: left; display: inline; }
#slider .button span { margin-right: -24px; background: url('images/button-right.png') no-repeat right 0; display: inline; float: left; line-height: 60px; height: 60px; }
#slider .button span { padding-left: 50px; padding-right: 49px; color: #fff; font-size: 24px; font-weight: bold; text-transform: uppercase; position: relative; }
#slider .button:hover { background-position: 0 -60px; text-decoration: none; }
#slider .button:hover span { background-position: right -60px; }

#slider .jcarousel-prev,
#slider .jcarousel-next { font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 50%; margin-top: -34px; display: none; width: 28px; height: 44px; cursor: pointer; }
#slider .jcarousel-prev { background: url('images/slider-left.png') no-repeat 0 -4000px; left: 17px; }
#slider .jcarousel-next { background: url('images/slider-right.png') no-repeat 0 -4000px; right: 16px; }
#slider .carousel-active { display: block; background-position: 0 0; }

#slider .slider-nav { position: absolute; left: 50%; bottom: -36px; }
#slider .slider-nav li { list-style: none; float: left; display: inline; padding-right: 6px; }
#slider .slider-nav li a { width: 18px; height: 18px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: url('images/slider-nav.png') no-repeat 0 0; }
#slider .slider-nav li.active a,
#slider .slider-nav li a:hover { background-position: 0 -18px; }

