<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    
    <add name="DataSourceConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>

<system.web>
<customErrors mode="Off"/>
<compilation debug="true">
</compilation>
</system.web>

  <system.webServer>
  
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
